/* Existing CSS styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1em 0;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex; /* Added for inline flex display of list items */
    align-items: center; /* Centers the links vertically */
    justify-content: space-between; /* Align items with space between */

}

nav ul li {
    display: flex;
}

nav ul li.social-links {
    order: 2; /* Position the social links at the end */
}

nav ul li:not(.social-links) {
    order: 1;
}

nav ul li a {
    color: white;
    text-decoration: none;
    display: block; /* Make the anchor tags block elements */
    padding: 1em; /* Add some padding for spacing */
    transition: background-color 0.3s; /* Smooth transition for background color */
}

nav ul li.social-links a {
    margin-left: 10px; /* Spacing between social links */
    background-color: transparent; /* Optional: Style as needed */
}

/* New hover effect */
nav ul li a:hover, nav ul li a.active {
    background-color: #555; /* Change this color to your preferred highlight color */
    color: white;
}

main {
    padding: 20px;
}

#nav-toggle {
    background: none;
    border: none;
    cursor: pointer;
    display: none; /* Hidden by default */
}

.hamburger,
.hamburger::before,
.hamburger::after {
    display: block;
    background-color: white;
    height: 2px;
    width: 25px;
    margin: 5px auto;
    transition: all 0.3s;
}

#nav-toggle.open .hamburger {
    transform: rotate(45deg);
}

#nav-toggle.open .hamburger::before {
    transform: rotate(90deg) translate(7px, 0);
    opacity: 0;
}

#nav-toggle.open .hamburger::after {
    transform: rotate(90deg) translate(-7px, 0);
}

/* Hide and show nav links */
#nav-links {
    display: flex;
    transition: max-height 0.3s;
    overflow: hidden;
}

@media screen and (max-width: 600px) {
    header nav ul {
        flex-direction: column;
        align-items: center;
    }

    header nav ul li {
        width: 100%;
        text-align: center;
    }

    header nav ul li a {
        padding: 10px; /* Adjust padding for better touch targets */
    }

    header nav ul li.social-links {
        display: none;
    }

    #nav-toggle {
        display: block;
    }

    /* Initially hide navigation links in mobile view */
    #nav-links {
        display: none;
        flex-direction: column;
        max-height: 0; /* Start with max-height 0 */
        overflow: hidden;
        transition: max-height 0.3s;
    }

    /* When open, display the navigation links */
    #nav-links.open {
        display: flex;
        max-height: 500px; /* Adjust as needed */
    }

    /* Adjustments for the navigation links in mobile view */
    #nav-links a {
        text-align: center;
        padding: 10px;
        width: 100%;
    }
}

